KAFKA_BOOTSTRAP=localhost:29092
KAFKA_TOPIC=system-metrics-topic

MONGO_URI=mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=nombre_base_de_datos
MONGO_RAW_COLLECTION=system_metrics_raw
MONGO_KPI_COLLECTION=system_metrics_kpis

INTERVALO_SEGUNDOS=10

WINDOW_SIZE=20
